.clickableSection {
    cursor: pointer;
    margin-top: 1em;

    span {
        font-size: 125%;
    }
}

.container {
}


.templateField {

    .mention {
        background: var(--light-color);
    }

}

.templateField__suggestions {
    z-index: 99999 !important;
    padding: 0.5em;
    overflow-y: scroll;
    max-height: 75px;
    outline: 1px solid var(--light-color);
}

.templateField__suggestions__item--focused {
    background: var(--light-color);
    color: black;
}

.templateHint {
    margin: 1em 0;
    color: grey;

    .example {
        font-weight: bold;
        color: black;
    }
}

.extension {
    color: grey;
    margin-left: 5px;
}
